<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- MyParkmeter -->
		<mapping resource="mappings/User.hbm.xml" />
		
		<!-- Generales -->
		<!-- <mapping resource="mappings/Usuario.hbm.xml" />		
		<mapping resource="mappings/Configuracion.hbm.xml" />-->
		
		<!-- Pushmate -->
		<!-- <mapping resource="mappings/CanalesAppcelerator.hbm.xml" />
		<mapping resource="mappings/CanalesTopics.hbm.xml" />
		<mapping resource="mappings/Estatus.hbm.xml" />
		<mapping resource="mappings/FiltrosNegocio.hbm.xml" />
		<mapping resource="mappings/Log.hbm.xml" />
		<mapping resource="mappings/LogCatalog.hbm.xml" />
		<mapping resource="mappings/NotificacionNegocio.hbm.xml" />
		<mapping resource="mappings/Notificacion.hbm.xml" />
		<mapping resource="mappings/PushTemporal.hbm.xml" />				
		<mapping resource="mappings/TipoNotificacion.hbm.xml" />
		<mapping resource="mappings/TipoPlataforma.hbm.xml" />
		<mapping resource="mappings/Tokens.hbm.xml" />
		<mapping resource="mappings/Reporte1.hbm.xml" />-->

	</session-factory>
</hibernate-configuration>